@import url("https://fonts.googleapis.com/css?family=Russo+One");

.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___text {
  position: absolute;
  width: 60%;
  height: auto;
  top: -40px;
}

.arena___right-fighter .fighter-preview___text {
  left: -200px;
}

.fighter-preview__stats {
  font-family: "Russo One", sans-serif;
  position: relative;
}

.fighter-preview__name {
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-family: "Russo One", sans-serif;
  text-shadow: 0 0 3px yellow;
  text-transform: uppercase;
}

.fighter-preview__stat {
  min-width: 100px;
  padding: 3px 0;
  color: #fff;
}

.fighter-preview__tag {
  background-color: #ffdfa7;
  min-width: 100px;
  color: #4a4a4a;
  align-items: center;
  font-size: 0.75rem;
  border-radius: 3px;
  display: inline-flex;
  height: 2em;
  justify-content: center;
  padding-left: 10px;
}
